@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
nav .logo:hover {
  transform: translateY(-5px);
}
nav ul {
  display: flex;
  /* flex-wrap: wrap; */
  list-style: none;
}
nav ul li {
  margin: 24px 70px 10px;
}
nav ul li a,
span {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li span:hover {
  color: #111;
  background: #fff;
}
.btn_user:hover {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  letter-spacing: 2px;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  /* .btn_user{
    display: block;
    margin: 40px 0px;
    width: 100%;
    margin-left: -80%;
    
  } */
}
